@font-face {
  font-family: 'YesevaOne';
  src: url("fonts/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("fonts/Opensans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("fonts/Opensans-Bold.ttf");
}

@font-face {
  font-family: 'Gentium-Bold';
  src: url("fonts/GentiumBookBasic-Bold.ttf");
}

body {
  margin: 0;
  width: 1600px;
}

#about {
  background-color: #f1f1f1;
  background-image: url("images/bg_about.png");
  height: 710px;
}

#about .container {
  padding-top: 55px;
  margin: auto;
  width: 1120px;
  text-align: center;
}

#about .divider {
  margin-left: -2px;
  margin-top: 13px;
  margin-bottom: 23px;
}

#about .text-header {
  font-family: 'YesevaOne', serif;
  font-size: 36px;
  color: #cc9900;
}

#about .text-description {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 1.5;
  display: inline-block;
}

#about .cook {
  padding-left: 72px;
  padding-top: 48px;
}

#about .description {
  display: inline-block;
  padding-top: 46px;
  width: 435px;
  padding-left: 19px;
}

#about .dish {
  float: right;
}

#reservations {
  background-color: #f3f5f5;
  background-image: url("images/bg_reservations.png");
  height: 718px;
}

#reservations .container{
  display: flex;
  width: 1263px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

#reservations .image1{
  padding-top: 100px;
  padding-left: 47px;
}

#reservations .image2{
  padding-top: 100px;
  padding-left: 29px;
}

#reservations .text-header {
  font-family: 'YesevaOne', serif;
  font-size: 36px;
  color: #cc9900;
}

#reservations .text-description {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 1.5;
  display: inline-block;
}

#reservations .text-description-bottom {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 1.5;
  display: inline-block;
  padding-top: 10px;
}

#reservations .divider {
  margin-left: -2px;
  margin-top: 13px;
  margin-bottom: 23px;
}

#reservations .content-box {
  width: 436px;
  text-align: center;
  padding-top: 97px;
  padding-right: 114px;
  padding-left: 96px;
}

#reservations .label{
  font-family: 'OpenSans-Bold', serif;
  font-size: 14px;
  color: #c9a131;
}

#reservations .left-inputs{
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 175px;
}

#reservations .input{
  font-family: 'OpenSans-Regular', serif;
  font-style: italic;
  font-size: 16px;
  color: #7c7c7c;
  width: 189px;
  background: rgba(255, 255, 255, 0.45);
  margin-top: 7px;
  border: 1px solid #c9c9c9;
  height: 31px;
  padding-left: 7px;
  word-spacing: -2px;
}

#reservations .right-inputs{
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 175px;
  margin-right: 6px;
}

#reservations .inputs{
  display: flex;
  width: 436px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
  margin-left: 3px;
  height: 178px;
}

#reservations .input:focus {
  border: 1px solid #c9a131;
  outline: none;
}

#reservations .button{
  border: 1px solid #c9a131;
  background-color: #c9a131;
  color: white;
  font-family: 'OpenSans-Regular', serif;
  font-size: 16px;
  width: 200px;
  margin-left: 4px;
  height: 36px;
}

#reservations #date-label{
  margin-top: 24px;
  margin-bottom: -2px;
}

#reservations #email{
  margin-top: 7px;
}

#reservations #party-label{
  margin-top: 24px;
}

#reservations #party-number{
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.45) url("images/icon_arrow.png")  177px 14px no-repeat;
}

#reservations #date{
  background: rgba(255, 255, 255, 0.45) url("images/icon_date.png") 175px 8px no-repeat;
}
