@font-face {
  font-family: 'YesevaOne';
  src: url("fonts/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("fonts/Opensans-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("fonts/Opensans-Bold.ttf");
}

@font-face {
  font-family: 'Gentium-Bold';
  src: url("fonts/GentiumBookBasic-Bold.ttf");
}

body {
  margin: 0;
  width: 1600px;
}

#promo {
  background-image: url("images/bg_promo.png");
  height: 750px;
}

#promo .container {
  width: 1000px;
  margin: auto;
  text-align: center;
  padding-top: 13.5%;
}

#promo .main-txt {
  font-family: 'YesevaOne', sans-serif;
  font-size: 90px;
  line-height: 1.3;
  color: #f8f7f1;
}

#promo .divider {
  margin-left: 3px;
  margin-top: 24px;
  margin-bottom: 30px;
}

#promo .buttons > button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: white;
  width: 228px;
  height: 57px;
}

#promo .book-table {
  margin-right: 26px;
  margin-left: -1px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
}

#promo .see-menu {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
}

#menu {
  background-image: url("images/bg_menu.png");
  background-color: #f2f5f5;
  height: 1002px;

}

#menu .container {
  width: 1034px;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-top: 71px;
}

#menu .divider {
  margin-top: 6px;
}

#menu .col {
  width: 433px;
}

#menu .name, .price {
  display: inline-block;
  color: #c89f2d;
  font-family: 'YesevaOne', sans-serif;
  font-size: 16pt;
}

#menu .price {
  float: right;
}

#menu .price::before {
  content: "$";
}

#menu .products {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#menu li > hr {
  border: 0;
  height: 1px;
  background: rgba(200, 159, 45, 0.75);
  margin-bottom: 10px;
}

#menu ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
}

#menu ul > li {
  margin-bottom: 34px;
}

#menu .header-box {
  font-family: 'YesevaOne', sans-serif;
  font-size: 36px;
  color: #cc9900;
  text-align: center;
  margin-bottom: 18px;
  padding-top: 29px;
}

#menu .special {
  display: inline-block;
  padding: 2px 12px 3px 13px;
  color: #f8fafa;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: rgba(200, 159, 45, 0.75);
  position: absolute;
  top: -22px;
  right: -1px;
}

#menu .li-special {
  position: relative;
  margin: -6px -11px 24px -12px;
  padding: 6px 10px 8px 11px;
  border: 1px solid rgba(200, 159, 45, 0.75);
}
