@font-face {
  font-family: 'YesevaOne';
  src: url("fonts/YesevaOne-Regular.ttf");
}

@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans';
  src: url("fonts/Opensans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("fonts/Opensans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Gentium-Bold';
  src: url("fonts/GentiumBookBasic-Bold.ttf");
}

body {
  margin: 0 auto;
  width: 1600px;
}

header {
  background-image: url("images/bg_header.png");
  height: 159px;
  margin-bottom: -159px;
  position: relative;
  text-align: center;
}

header .title-text {
  font-family: 'YesevaOne', sans-serif;
  color: #f0f0f0;
  font-size: 36px;
  text-align: center;
  margin-left: 11.2%;
  margin-right: 227px;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: end;
  height: 81px;
}

header .nav {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 735px;
  font-family: 'Gentium-Bold', sans-serif;
  font-size: 21px;
  color: white;
}

header .nav > div:hover {
  border-top: 3px solid #c2c0b8;
}

header .nav > div {
  display: flex;
  border-top: 3px solid transparent;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 9px;
}

header .nav > div > div {
  align-self: end;
}

header .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 83px;
  padding-bottom: 12px;
  margin-left: 7px;
}

header .socials > a {
  text-decoration: none;
  color: #dab33e;
}

footer {
  height: 320px;
  background-color: #191919;
}

footer .container {
  width: 71.5%;
  height: inherit;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

footer .container > div {
  padding-top: 57px;
  color: #fefefe;
  text-align: center;
}

footer .container > div:nth-child(2) {
  margin-left: 128px;
}

footer .container > div:nth-child(3) {
  margin-left: 199px;
}

footer .cards {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 51px 43px auto;
}

footer .socials {
  display: flex;
  justify-content: space-between;
  width: 43%;
  margin: 51px 62px auto;
}

footer .socials > a {
  text-decoration: none;
  color: white;
}

footer .header-text {
  font-family: 'YesevaOne', sans-serif;
  font-size: 21px;
}

footer .divider > img {
  width: 199px;
}

footer .divider {
  margin-top: 16px;
  margin-bottom: 13px;
}

footer .text {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
}

#promo {
  background-image: url("images/bg_promo.png");
  height: 750px;
}

#promo .container {
  width: 1000px;
  margin: auto;
  text-align: center;
  padding-top: 216px;
}

#promo .main-txt {
  font-family: 'YesevaOne', sans-serif;
  font-size: 90px;
  line-height: 1.3;
  color: #f8f7f1;
}

#promo .divider {
  margin-left: 3px;
  margin-top: 24px;
  margin-bottom: 30px;
}

#promo .buttons > button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  color: white;
  width: 228px;
  height: 57px;
}

#promo .buttons > button:first-child {
  margin-right: 26px;
  margin-left: -1px;
}

#promo .buttons > button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black
}

#menu {
  background-image: url("images/bg_menu.png");
  background-color: #f2f5f5;
  height: 994px;
}

#menu .container {
  width: 1034px;
  margin: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-top: 71px;
}

#menu .divider {
  margin-top: 5px;
}

#menu .col {
  width: 433px;
}
#menu .col:last-child{
  margin-right: 1px;
}
#menu .name, .price {
  display: inline-block;
  color: #c89f2d;
  font-family: 'YesevaOne', sans-serif;
  font-size: 16pt;
}

#menu .price {
  float: right;
}

#menu .price::before {
  content: "$";
}

#menu .products {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#menu li > hr {
  border: 0;
  height: 1px;
  background: rgba(200, 159, 45, 0.75);
  margin-bottom: 11px;
}

#menu ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
}

#menu ul > li {
  margin-bottom: 34px;
}

#menu .header-box {
  font-family: 'YesevaOne', sans-serif;
  font-size: 36px;
  color: #cc9900;
  text-align: center;
  margin-bottom: 18px;
  padding-top: 29px;
}

#menu .special {
  display: inline-block;
  padding: 2px 12px 3px 13px;
  color: #f8fafa;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: rgba(200, 159, 45, 0.75);
  position: absolute;
  top: -22px;
  right: -1px;
}

#menu .li-special {
  position: relative;
  margin: -8px -10px 24px -12px;
  padding: 7px 10px 8px 11px;
  border: 1px solid rgba(200, 159, 45, 0.75);
}

#about {
  background-color: #f1f1f1;
  background-image: url("images/bg_about.png");
  height: 710px;
}

#about .container {
  padding-top: 55px;
  margin: auto;
  width: 1120px;
  text-align: center;
}

#about .divider {
  margin-left: -2px;
  margin-top: 13px;
  margin-bottom: 23px;
}

#about .text-header {
  font-family: 'YesevaOne', serif;
  font-size: 36px;
  color: #cc9900;
}

#about .text-description {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 1.5;
  display: inline-block;
}

#about .cook {
  padding-left: 72px;
  padding-top: 48px;
}

#about .description {
  display: inline-block;
  padding-top: 46px;
  width: 435px;
  padding-left: 19px;
}

#about .dish {
  float: right;
}

#reservations {
  background-color: #f3f5f5;
  background-image: url("images/bg_reservations.png");
  height: 710px;
}

#reservations .container {
  display: flex;
  width: 1263px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
}

#reservations .image1 {
  padding-top: 100px;
  padding-left: 47px;
}

#reservations .image2 {
  padding-top: 100px;
  padding-left: 29px;
}

#reservations .text-header {
  font-family: 'YesevaOne', serif;
  font-size: 36px;
  color: #cc9900;
}

#reservations .text-description {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 1.5;
  display: inline-block;
}

#reservations .text-description-bottom {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #4c4c4c;
  line-height: 1.5;
  display: inline-block;
  padding-top: 10px;
}

#reservations .divider {
  margin-left: -2px;
  margin-top: 13px;
  margin-bottom: 23px;
}

#reservations .content-box {
  width: 436px;
  text-align: center;
  padding-top: 97px;
  padding-right: 114px;
  padding-left: 96px;
}

#reservations .label {
  font-family: 'OpenSans', serif;
  font-weight: bold;
  font-size: 14px;
  color: #c9a131;
}

#reservations .left-inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 175px;
}

#reservations .input {
  font-family: 'OpenSans', serif;
  font-weight: normal;
  font-size: 16px;
  color: #7c7c7c;
  width: 189px;
  background: rgba(255, 255, 255, 0.45);
  margin-top: 7px;
  border: 1px solid #c9c9c9;
  height: 31px;
  padding-left: 7px;
  word-spacing: -2px;
}

::placeholder {
  font-style: italic;
}

#reservations .right-inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 175px;
  margin-right: 6px;
}

#reservations .inputs {
  display: flex;
  width: 436px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
  margin-left: 3px;
  height: 178px;
}

#reservations .input:focus {
  border: 1px solid #c9a131;
  outline: none;
}

#reservations .button {
  border: none;
  background-color: #a89e72;
  color: #b4b4b4;
  font-family: 'OpenSans', serif;
  font-weight: normal;
  font-size: 16px;
  width: 202px;
  margin-left: 4px;
  height: 36px;
}

#reservations #date-label {
  margin-top: 24px;
  margin-bottom: -2px;
}

#reservations #email {
  margin-top: 7px;
}

#reservations #party-label {
  margin-top: 24px;
}

#reservations #party-number {
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.45) url("images/icon_arrow.png") 177px 14px no-repeat;
}

#reservations #date {
  background: rgba(255, 255, 255, 0.45) url("images/icon_date.png") 175px 8px no-repeat;
}

#ingredients {
  background-image: url("images/bg_ingredients.png");
  height: 758px;
}

#ingredients .container {
  padding-top: 100px;
  margin-left: 815px;
  height: 570px;
  width: 570px;
  text-align: center;
}

#ingredients .divider {
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 20px;
}

#ingredients .text-header {
  padding-top: 132px;
  font-family: 'YesevaOne', serif;
  font-size: 36px;
  color: #ffffff;
}

#ingredients .text-description {
  font-family: 'Lato', serif;
  font-size: 16px;
  color: #efefef;
  line-height: 1.5;
  display: inline-block;
}

#ingredients .cook {
  width: 400px;
  padding-left: 8px;
  padding-top: 66px;
  display: flex;
}

#ingredients .cook2 {
  flex: 1 1 auto;
  margin: 0 13px;
}

#ingredients .description {
  background-image: url("images/bg_quote.png");
  display: inline-block;
  padding: 76px 68px 76px 67px;
  width: 435px;
}

#ingredients .dish {
  float: right;
}

#reviews {
  background-image: url("images/bg_reviews.png");
  height: 758px;
}

#reviews .container {
  padding-top: 100px;
  margin-left: 415px;
  height: 557px;
  width: 770px;
  text-align: center;
}

#reviews .divider {
  margin-left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

#reviews .text-header {
  padding-top: 132px;
  font-family: 'YesevaOne', serif;
  font-size: 36px;
  color: #ffffff;
}

#reviews .text-description {
  font-family: 'Gentium-Bold', serif;
  font-size: 25px;
  color: #dde0df;
  line-height: 1.8;
  display: inline-block;
}

#reviews .text-description-PS {
  padding-top: 28px;
  font-family: 'Lato', serif;
  font-size: 18px;
  color: #dde0df;
  line-height: 1.8;
  display: inline-block;

}

#reviews .text-description-PreS {
  position: absolute;
  padding-left: 28px;
  padding-top: 123px;
  font-family: Georgia, serif;
  font-size: 96px;
  color: #9fa0a0;
  line-height: 1.8;
  display: inline-block;

}

#reviews .text-description-PS {
  padding-top: 27px;
  font-family: 'Lato', serif;
  font-size: 18px;
  color: #efefef;
  line-height: 1.8;
  display: inline-block;

}

#reviews .description {
  background-image: url("images/bg_text_reviews.png");
  display: inline-block;
  padding: 76px 65px 97px 66px;
  width: 639px;
}